.Products {
  & .title {
    text-align: center;
    padding: 36px 0;
  }
  & .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & .itemCart {
      display: flex;
      flex-direction: column;
      width: 350px;
      height: 430px;
      border: 1px solid #ebebeb;
      margin: 8px 5px;
      padding: 0px 16px 18px 16px;
      border-radius: 23px;
      align-items: center;
      justify-content: center;

      transition: all 0.9s;
      &:hover {
        border: 1px solid #f47458;
      }
      & img {
        width: 200px;
        height: 280px;
        object-fit: contain;
        margin: 0 auto;
      }
      & .title {
        text-align: center;
        margin-bottom: 6px;
        font-weight: 600;
      }
      & .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        & .price {
          font-size: 20px;
          font-weight: 700;
          & small {
            font-size: 22px;
          }
        }
        & button {
          border: 1px solid #f47458;
          background-color: #fff;
          border-radius: 8px;
          padding: 8px 10px;
          color: #f47458;
          cursor: pointer;
          transition: all 0.8s;
          &:hover {
            background-color: #f47458;
            color: white;
          }
        }
      }
    }
  }
}

.singleProduct {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h3 {
    margin: 23px 0;
    margin-bottom: 2rem;
  }
  & img {
    width: 360px;
    height: 480px;
    object-fit: contain;
  }
  & .price {
    font-size: 20px;
    margin-bottom: 0;
    & span {
      color: #f47458;
      font-size: 24px;
      font-weight: 600;
    }
  }
  & button {
    border: 1px solid #f47458;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    margin: 26px 0;
    color: #f47458;
    cursor: pointer;
    transition: all 0.8s;
    &:hover {
      background-color: #f47458;
      color: white;
    }
  }
  & p {
    text-align: justify;
    margin: 0 auto;
    padding: 20px 40px;
  }
}

.Loader {
  display: flex;
  justify-content: center;
}
